html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --principal: #080707;
    --secundario: #161b1e;
    --cards: #1f294b;
    --fondo: #1d2331;
    --texto: #7d7e81;
    --color6: #ebebeb;
    --detalles: #ff5733;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color6);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

p {
    font-size: 1.8rem;
}

/*Header*/
header {
    width: 100%;
    height: 10rem;
    background-color: var(--principal);
    display: grid;
    font-size: 2rem;
    position: fixed;
    top: 0;
}


nav {
    align-content: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu li a {
    text-decoration-line: none;
    color: var(--texto);
}

.menu li a:hover {
    color: var(--detalles);
}

/*Content*/
body {
    background-color: var(--fondo);
}

main {
    width: 90%;
    height: auto;
    margin: auto;
}

#intro {
    width: 50%;
    margin: auto;
    margin-top: 15rem;
    scroll-margin-top: 20rem;

}

#intro h1 {
    font-size: 5rem;
}

#intro p {
    font-size: 3rem;
    margin-top: 2rem;
}


/*Projects*/
h2 {
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

#Projects {
    display: flex;
    justify-content: space-between;
    scroll-margin-top: 20rem;
}

.projects {
    width: 30rem;
    height: 35rem;
    border-radius: 1rem;
    background-color: var(--cards);
    position: relative;
}

.projects:hover p{
    color: var(--detalles);
}

.enlace {
    display: inline-block;
    padding: 2.5rem;
    height: 100%;
    text-decoration: none;
}

.projects p {
    margin-top: 1rem;
    text-align: center;
}

.img__paginas {
    display: block;
    width: 25rem;
    height: 25rem;
}


.project__infos{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 4rem;

}

.github__logo {
    display: block;
    width: 4rem;
    height: 4rem;
    transition: all 1s;
}
.github__logo:hover {
    transform: scale(1.2);
}

#Skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.skill__logo p {
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: #052E5B;
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 0.3rem;
}

.skill__logo img {
    display: block;
    margin: auto;
    width: 8rem;
    height: 8rem;
}


footer {
    background-color: var(--secundario);
    width: 100%;
    min-height: 60rem;
    margin-top: 5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

#Formulario {
    display: flex;
    flex-direction: column;
    width: 35rem;
    min-height: 45rem;
    background-color: var(--fondo);
    padding: 3rem;
    margin: auto;
    border-radius: 1rem;
}

#Formulario input {
    display: block;
    margin-top: 2rem;
    color: #141414;
    min-height: 4rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}

#Textarea {
    min-height: 8rem;
    margin-top: 2rem;
    resize: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: #141414;
    outline: none;
}

h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
}

#Enviar {
    margin-top: 2rem;
    width: 12rem;
    min-height: 4rem;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: var(--cards);
    color: var(--color6);
    border: 0.1rem solid #052E5B;
    border-radius: 1rem;
    transition: 0.3s;
}

#Enviar:hover {
    background-color: var(--detalles);
    color: var(--color6);
}

.error{
    display: none;
    margin-top: 1rem;
}

.error p{
    color: red;
    font-size: 1.4rem;
}
/* Mensaje */
#Alerta {
    display: flex;
    position: fixed;
    align-items: center;
    width: 30rem;
    height: 8rem;
    background-color: hsl(187, 24%, 22%);
    top: -20rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    padding: 1.5rem;
    transition: 1s;
    z-index: 20;
}
#Alerta h4{
    font-size: 2rem;
    margin-left: 1rem;
}
#Alerta img{
    transform: scale(1.3);
    margin-left: 4rem;
}
#Alerta.activa {
    top: 3rem;

}
/* Media queris */
/* Movil */
@media (min-width: 20rem) {
    header {
        grid-template-columns: 1fr;
        z-index: 10;
    }

    #intro {
        width: 90%;
    }

    #Projects {
        flex-direction: column;
        align-items: center;
    }

    .projects {
        width: 30rem;
        height: 35rem;
        margin-top: 4rem;
    }

    .img__pagina {
        width: 25rem;
        height: 25rem;
    }

    #Skills {
        flex-direction: column;
        margin-top: 2rem;
    }
    .skill__logo{
        margin-top: 3rem;
    }

}

/* Tablet */
@media (min-width: 48rem) {

    #intro {
        width: 80%;
    }

    #Projects {
        display: flex;
    }

    .project {
        width: 30rem;
        height: 35rem;
    }

    #Skills {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/* Laptop */
@media (min-width: 64rem) {
    header {
        grid-template-columns: 2fr 3fr;
    }

    #Projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}